//button
.el-button {
  padding: 6px 12px;
  font-size: 12px;
}

.el-button--default {
  border-color: #3583e3;
  color: #3583e3;
  background: transparent;
}

//input框
.el-input__inner {
  height: 28px;
  line-height: 28px;
}

// 分页
.el-pagination {
  margin-top: 10px;
  padding: 1px 5px;
  float: right;

  span {
    height: 36px;
  }

  .el-select {
    margin-top: -4px;
  }
}

// .el-pager li.active {
//   cursor: default;
//   color:#fff;
//   border-color: #df1130;
//   background-color: #df1130;
// }
// 表格
.el-table {

  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 5px;
    height: 1px;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #ededed;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #808080;
  }

  border: 0;

  // height: 100%;
  .is-leaf {
    border: 0;
  }

  &:before,
  &:after {
    background: none;
  }

  th {
    padding: 8px 0;
    background-color: #f3f3f3;

    // background: #ffdede;
    .cell {
      font-weight: 500;
      color: #000;
      // background: #ffdede;
    }
  }

  .ascending .sort-caret.ascending {
    border-bottom-color: #ccc;
  }

  .sort-caret.ascending {
    border-bottom-color: #ccc;
  }

  .descending .sort-caret.descending {
    border-top-color: #ccc;
  }

  .sort-caret.descending {
    border-top-color: #ccc;
  }

  tr.is-current {
    color: #df1130;
    background: #f5f7fa;
  }

  .el-table__body tr:hover>td {
    background-color: transparent;
  }

  tr.current-row>td {
    background: #fcf0f0;
  }

  td {
    padding: 2px 0;
    min-height: 35px;
    height: 35px;

    // padding: 5px 0;
    .el-dropdown {
      vertical-align: top;
    }

    button {
      vertical-align: middle;
      background: transparent;

      i {
        font-size: 16px;
      }

      .im-icon-refresh {
        font-size: 18px;
      }
    }
  }

  .el-table__expanded-cell {
    padding: 20px 30px;
  }

  .el-table__header {
    background-color: #f3f3f3;
  }
}

// 表单
.el-form {
  .el-form-item {

    // width: 100%;
    // height: 36px;
    // margin-bottom:20px;
    // .el-form-item__content{
    //     height: 36px;
    // }
    .el-select {
      height: 28px;
      width: 100%;
    }

    .el-cascader {
      width: 100%;
    }
  }

  .el-form-item__content {
    line-height: 30px;
  }

  .el-form-item__label {
    line-height: 30px;
  }
}

// 弹框
// .el-dialog{
//     top:50%;
//     transform: translateY(-50%);
//     margin-top:0 !important;
// }
.el-dialog__wrapper {
  .el-dialog__header {
    padding: 10px 20px;
    margin-bottom: 10px;
    background: white;
    border-bottom: 2px solid var(--theme-color);
  }

  .el-dialog__body {
    padding: 10px 20px;
    position: relative;
  }

  .el-dialog__footer {
    padding: 10px 20px 15px;
    text-align: right;
    box-sizing: border-box;
    margin-top: 20px;

    .el-button {
      height: 30px;
    }

    .el-button.el-button--primary {
      background-color: var(--theme-color);
      color: white;
    }

    .el-button.is-disabled,
    .el-button.is-disabled:focus,
    .el-button.is-disabled:hover {
      color: #bfcbd9;
      background-color: #eef1f6;
      border-color: #d1dbe5;
    }
  }

  .vs-btn-close {
    position: absolute;
    top: -45px;
    right: 20px;
  }
}