/.idea
/src/.idea
/usr
*.out
*.conf
*.si4project
*.log
*.iml
*vscli
*.o
*.d
*.lo
*.la
*.pc
.libs
.deps
*.exe
*.dll
*.msi
*.gmo
spice/server/tests
spice/subprojects/spice-common/tests
spice/Makefile
spice/build/
spice/config.h
spice/config.status
spice/docs/Makefile
spice/docs/manual/Makefile
spice/libtool
spice/server/.dirstamp
spice/server/Makefile
spice/stamp-h1
spice/subprojects/spice-common/Makefile
spice/subprojects/spice-common/common/Makefile
spice/subprojects/spice-common/config.h
spice/subprojects/spice-common/config.status
spice/subprojects/spice-common/docs/Makefile
spice/subprojects/spice-common/libtool
spice/subprojects/spice-common/python_modules/Makefile
spice/subprojects/spice-common/stamp-h1
spice/tools/Makefile
spice/tools/reds_stat
spice-gtk/builddir/
spice-gtk/subprojects/spice-common/python_modules/
spice-protocol/Makefile
spice-protocol/config.h
spice-protocol/config.status
spice-protocol/spice/Makefile
spice-protocol/stamp-h1
virt-viewer/Makefile
virt-viewer/autom4te.cache/
virt-viewer/config.h
virt-viewer/config.status
virt-viewer/data/Makefile
virt-viewer/data/buildenv.txt
virt-viewer/data/virt-viewer-files.wxs
virt-viewer/data/virt-viewer.wxs
virt-viewer/icons/16x16/Makefile
virt-viewer/icons/22x22/Makefile
virt-viewer/icons/24x24/Makefile
virt-viewer/icons/256x256/Makefile
virt-viewer/icons/32x32/Makefile
virt-viewer/icons/48x48/Makefile
virt-viewer/icons/Makefile
virt-viewer/icons/virt-viewer.ico
virt-viewer/libtool
virt-viewer/man/Makefile
virt-viewer/mingw-virt-viewer.spec
virt-viewer/po/Makefile
virt-viewer/po/Makefile.in
virt-viewer/po/POTFILES
virt-viewer/po/stamp-it
virt-viewer/src/Makefile
virt-viewer/stamp-h1
